<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidlearnproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- needed permission for foreground services -->
    <!-- needed for jobIntentService for android versions less thane oreo -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- needed for cameraX library -->
    <uses-feature android:name="android.hardware.camera.any" /> <!-- this makes sure that the device has camera (front or back) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".AndroidLearnProjectApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.androidlearnproject">
        <activity
            android:name=".alarmmanager.LearnAlarmManagerActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".animation.transitions_materialmotion.fade.FViewsTransitionActivity" />
        <activity android:name=".animation.transitions_materialmotion.fade_through.FTFirstActivity" />
        <activity android:name=".animation.transitions_materialmotion.fade_through.FTSecondActivity" />
        <activity android:name=".animation.transitions_materialmotion.shared_axis.example2_views.SAViewsTransitionActivity" />
        <activity android:name=".animation.transitions_materialmotion.shared_axis.example1_activity.SAFirstActivity" />
        <activity android:name=".animation.transitions_materialmotion.shared_axis.example1_activity.SASecondActivity" />
        <activity android:name=".animation.transitions_materialmotion.container_transform.example3_views.CTViewsTransitionActivity" />
        <activity android:name=".animation.transitions_materialmotion.container_transform.example2_activity_fragment_list_fab.CtMainActivity" />
        <activity android:name=".animation.transitions_materialmotion.container_transform.example1_activity.CTFirstActivity" />
        <activity android:name=".animation.transitions_materialmotion.container_transform.example1_activity.CTSecondActivity" />
        <activity android:name=".LearnCameraXActivity"/>
        <activity android:name=".LearnDateAndTimeActivity" />
        <activity android:name=".dependency_injection.DISecondActivity" />
        <activity android:name=".dependency_injection.LearnDependencyInjectionActivity" />
        <activity android:name=".navigation.LearnNavigationActivity" />
        <activity android:name=".broadcastreceiver.LearnBroadcastReceiverActivity" />
        <activity android:name=".LearnNotificationActivity" />
        <activity android:name=".LearnServicesActivity" />
        <activity android:name=".MyDownloadManagerActivity" />
        <activity android:name=".MyCoroutineActivity" />
        <activity android:name=".MyFlavorActivity" />
        <activity android:name=".MyWorkManagerActivity" />
        <activity android:name=".ActivityResultApiActivity" />
        <activity android:name=".Paging3LibraryActivity" />
        <activity android:name=".MyJunitTest" />
        <activity android:name=".ChartActivity" />
        <activity android:name=".FirebaseOTPAuthenticationActivity" />
        <activity android:name=".animation.motionlayout.MotionLayoutExampleActivity" />
        <activity android:name=".CollapsingToolbarWithSubtitleActivity" />
        <activity android:name=".animation.motionlayout.MyMotionLayoutActivity" />
        <activity android:name=".RecyclerWithListAdapterActivity" />
        <activity android:name=".MyRetrofit" />
        <activity android:name=".YoutubeVimeoVideoStreamingActivity" />
        <activity android:name=".MainActivity" /> <!-- This permission is required for android O+ -->
        <!-- some receivers isn't working for api 24 or 26 and higher because these versions have some limitations -->
        <receiver
            android:name=".broadcastreceiver.MyStaticBroadcastReceiver"
            android:exported="true"> <!-- set exported to true because this class will be triggered by outer apps -->
            <!-- this receiver will listen to language change event even when the app is not running -->
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver> <!-- this receiver doesn't have intent filters because it is explicit receiver -->
        <receiver
            android:name=".broadcastreceiver.MyExplicitStaticBroadcastReceiver"
            android:exported="false" /> <!-- exported false means it can't be run from outside this app -->
        <service
            android:name=".MyIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".MyForegroundService" />

        <receiver android:name=".MyBroadCastReceiver" />
        <receiver android:name=".MessageStyleBroadCast" />
        <receiver android:name=".alarmmanager.AlarmReceiver" />
    </application>

</manifest>